build
build-aux/dev.cmd
vcpkg
vendor
composer.json
composer.lock
php
.tmp
*.phpt.file
*.phpt.skipif
*.phpt.clean
*.phpt.output
*.phpt.expect
*.diag.file
*.diag.skipif
*.diag.clean
*.diag.output
*.diag.expect
