# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
# SPDX-License-Identifier: BSD-3-Clause

name: Build

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Makefile'
      - 'build-aux/**'
      - '.github/workflows/build.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Makefile'
      - 'build-aux/**'
      - '.github/workflows/build.yml'

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: x86_64-linux-gnu
            os: ubuntu-latest
            run_cmd: make
          - name: x86_64-windows-msvc
            os: windows-latest
            extension: .exe
            run_cmd: build-aux/nmake.bat /nologo /f build-aux/nmake.mk
    steps:
    - uses: actions/checkout@v5

    - if: matrix.os == 'windows-latest'
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: ${{ matrix.run_cmd }}

    - name: Archive
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.name }}-phl${{ matrix.extension }}
        path: build/${{ matrix.name }}
  Test:
    runs-on: ${{ matrix.os }}
    needs: Build
    strategy:
      matrix:
        include:
          - name: x86_64-linux-gnu
            os: ubuntu-latest
            run_cmd: make test-compat
          - name: x86_64-windows-msvc
            os: windows-latest
            extension: .exe
            run_cmd: >
              build-aux/nmake.bat /nologo /f build-aux/nmake.mk test-compat
    steps:
    - uses: actions/checkout@v5

    - name: Artifact
      uses: actions/download-artifact@v6
      with:
        name: ${{ matrix.name }}-phl${{ matrix.extension }}
        path: build/${{ matrix.name }}

    - name: Test
      run: |
        chmod +x build/${{ matrix.name }}/phl${{ matrix.extension }}
        ${{ matrix.run_cmd }}