# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
# SPDX-License-Identifier: BSD-3-Clause

name: CI
permissions: {}

env:
  ALL_FILES_MIN_COVERAGE: 20
  CHANGED_FILES_MIN_COVERAGE: 25

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Makefile'
      - 'build-aux/**'
      - '.github/workflows/build.yml'
  pull_request:
    branches: [ main, dev ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Makefile'
      - 'build-aux/**'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - make: build
            name: x86_64-linux-gnu
            os: ubuntu-latest
          - make: build
            name: x86_64-windows-msvc
            os: windows-latest
            extension: .exe
          - make: build
            name: x86_64-apple-darwin
            os: macos-15-intel
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup-action
    - uses: ./.github/actions/make-action
      with:
        name: ${{ matrix.name }}
        make: ${{ matrix.make }}
        extension: ${{ matrix.extension }}
        artifacts: 'true'

  qa:
    runs-on: ${{ matrix.os }}
    needs: build
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel]
        make: [test, test-compat, coverage]
        include:
          - os: ubuntu-latest
            name: x86_64-linux-gnu
          - os: windows-latest
            name: x86_64-windows-msvc
            extension: .exe
          - os: macos-15-intel
            name: x86_64-apple-darwin
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup-action
    - uses: ./.github/actions/make-action
      with:
        name: ${{ matrix.name }}
        make: ${{ matrix.make }}
        extension: ${{ matrix.extension }}
        artifacts: ${{ contains(matrix.make, 'coverage') && 'true' || 'false' }}
        artifacts_from: build

  report:
    runs-on: ubuntu-latest
    needs: qa
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup-action
    - uses: actions/download-artifact@v6
      with:
        pattern: coverage-*
        path: artifact
    
    - run: |
        mkdir -p report
        chmod +x artifact/coverage-x86_64-linux-gnu/coverage/phl-coverage

        lcov --add-tracefile artifact/coverage-x86_64-linux-gnu/coverage/coverage.info \
             --add-tracefile artifact/coverage-x86_64-windows-msvc/coverage/coverage.info \
             --add-tracefile artifact/coverage-x86_64-apple-darwin/coverage/coverage.info \
             --ignore-errors format \
             --output-file report/coverage.info

        sed -i 's|SF:a/PHL/PHL/|SF:|g' report/coverage.info
        
        genhtml --quiet --include 'src/ph7/*'\
          --output-directory report/html report/coverage.info

        ./artifact/coverage-x86_64-linux-gnu/coverage/phl-coverage \
          build-aux/lcov_info_to_text.php --content=all\
            report/coverage.info > report/coverage.md

        echo "### Coverage" >> report/summary.md
        echo "" >> report/summary.md

        ./artifact/coverage-x86_64-linux-gnu/coverage/phl-coverage \
          build-aux/lcov_info_to_text.php --content=summary\
            report/coverage.info >> report/summary.md

        echo "" >> report/summary.md
        echo "Details: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}" >> report/summary.md
    - 
      if: github.event_name == 'pull_request'
      run: |
        echo "<details><summary>Code Coverage Report</summary>" >> "$GITHUB_STEP_SUMMARY"
        echo "" >> "$GITHUB_STEP_SUMMARY"
        cat report/coverage.md >> "$GITHUB_STEP_SUMMARY"
        echo "</details>" >> "$GITHUB_STEP_SUMMARY"
        gh pr comment $PR_NUMBER --edit-last --create-if-none --body-file report/summary.md
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PR_NUMBER: ${{ github.event.number }}

    - uses: actions/upload-artifact@v5
      with:
        name: report
        path: report