# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
# SPDX-License-Identifier: BSD-3-Clause

name: Build

env:
  ALL_FILES_MIN_COVERAGE: 20
  CHANGED_FILES_MIN_COVERAGE: 25

on:
  pull_request:
    branches: [ main, dev ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Makefile'
      - 'build-aux/**'
      - '.github/workflows/build.yml'

jobs:
  # make
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: x86_64-linux-gnu
            os: ubuntu-latest
          - name: x86_64-windows-msvc
            os: windows-latest
            extension: .exe
    steps:
    - uses: actions/checkout@v5
    - if: contains(matrix.name, '-windows-')
      uses: microsoft/setup-msbuild@v2
    - uses: ./.github/actions/make-action
      with:
        name: ${{ matrix.name }}
        extension: ${{ matrix.extension }}
        save_job: Build

  # make test & test-compat
  Test:
    runs-on: ${{ matrix.os }}
    needs: Build
    strategy:
      matrix:
        include:
          - make: test
            name: x86_64-linux-gnu
            os: ubuntu-latest
          - make: test
            name: x86_64-windows-msvc
            os: windows-latest
            extension: .exe
          - make: test-compat
            name: x86_64-linux-gnu
            os: ubuntu-latest
          - make: test-compat
            name: x86_64-windows-msvc
            os: windows-latest
            extension: .exe
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/make-action
      with:
        make: ${{ matrix.make }}
        name: ${{ matrix.name }}
        extension: ${{ matrix.extension }}
        restore_job: Build

  # make coverage-html
  Coverage:
    runs-on: ubuntu-latest
    needs: Build
    steps:
    - uses: actions/checkout@v5
    - run: sudo apt-get update && sudo apt-get install -y lcov
    - uses: ./.github/actions/make-action
      with:
        make: coverage-html
        name: x86_64-linux-gnu
        restore_job: Build
        save_job: Coverage

  OpenCppCoverage:
    runs-on: windows-latest
    needs: Build
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v4
      id: cache-opencppcoverage
      with:
        path: OpenCppCoverageSetup-x64-*
        key: OpenCppCoverage-${{ hashFiles('build-aux/install_opencppcoverage.bat') }}
        restore-keys: OpenCppCoverage-
    - run: build-aux\install_opencppcoverage.bat
    - run: build-aux\dev.bat OpenCppCoverage.exe || exit /b 0
      shell: cmd

  # Coverage reporting
  Coverage-Report:
    runs-on: ubuntu-latest
    needs: Coverage
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v6
      with:
        name: Coverage-x86_64-linux-gnu
        path: build/x86_64-linux-gnu
    - name: Check for source changes
      id: check-changes
      uses: dorny/paths-filter@v3
      with:
        filters: |
          src:
            - 'src/**'
            - 'tests/**'
            - 'Makefile'
            - 'build-aux/**'
            - '.github/workflows/build.yml'
    - uses: jbaczuk/pr-test-coverage@v1
      if: steps.check-changes.outputs.src == 'true'
      with:
        lcov-file: build/x86_64-linux-gnu/coverage.info
        github-token: ${{ secrets.GITHUB_TOKEN }}
        all-files-minimum-coverage: ${{ env.ALL_FILES_MIN_COVERAGE }}
        update-comment: true